@import "./colors";

$blacks: "light" $black-tl, "dark" $black-td;

$greys-blue: "light" $grey-blue-tl, "dark" $grey-blue-td;

$blues: "light" $blue-tl, "dark" $blue-td;

$icons: "light" $icons-details-tl, "dark" $icons-details-td;

$lights: "light" $light-blue-tl, "dark" $light-blue-td;

$mediums: "light" $grey-medium-tl, "dark" $grey-medium-td;

$whites: "light" $white-tl, "dark" $white-td;

$greys-dark: "light" $grey-dark-tl, "dark" $grey-dark-td;

@each $name, $color in $blacks {
  main h2.#{$name},
  #question-form h2.#{$name},
  .modal-wrapper .modal h2.#{$name} {
    color: $color;
  }
  h2.#{$name}{
    color: $color;
  }
}
@each $name, $color in $greys-blue {
  input.#{$name},
  #question-form form.#{$name},
  .separator div.#{$name} :nth-child(2),
  .separator div.#{$name}:nth-child(1),
  .separator div.#{$name}:nth-child(3) {
    border: 0.2rem solid $color;
  }
  #question-form form textarea::placeholder.#{$name} {
    color: $color;
  }
  .question-wrapper.read .question-content .user.#{$name} {
    background: $color;
  }
}
@each $name, $color in $blues {
  .ball.#{$name},.ball.top.#{$name}
  .question-wrapper .question-content .user.#{$name} {
    background: $color;
  }
  .ball {
    &.top.#{$name}{
      background-color: $color;
    }
  }
  .modal-wrapper .modal input.#{$name}{
    border: .2rem solid $color;
  }
}

@each $name, $color in $icons {
  #question-form form footer > div.#{$name} {
    background: $color;
  }
}
@each $name, $color in $mediums {
  .question-wrapper.read.#{$name} {
    background: $color;
  }
}
@each $name, $color in $whites {
  .modal-wrapper .modal.#{$name} {
    background: $color;
  }
}
@each $name, $color in $greys-dark {
  .modal-wrapper .modal p.#{$name} {
    color: $color;
  }
}
