@import "../variables/colors";

$colors-dark: "black" $black-td, "grey-blue" $grey-blue-td, "blue" $blue-td,
  "icons" $icons-details-td, "light-blue" $light-blue-td,
  "grey-medium" $grey-medium-td, "white" $white-td, "grey-dark" $grey-dark-td,
  "bg-dark" $blackred, "gradient-btn" $gradient-btn;

@each $name, $color in $colors-dark {
  body.#{$name} {
    background: $color;
  }
  main h2.#{$name},
  #question-form h2,
  .modal-wrapper .modal h2 {
    color: $color;
  }
  button.#{$name} {
    background-color: $color;
  }
  h2.#{$name} {
    color: $color;
  }
  input.#{$name},
  #question-form form.#{$name},
  .separator div :nth-child(2).#{$name},
  .separator div:nth-child(1).#{$name},
  .separator div:nth-child(3).#{$name} {
    border: 0.2rem solid $color;
  }
  #question-form form textarea::placeholder .#{$name} {
    color: $color;
  }
  .question-wrapper.read .question-content .user.#{$name} {
    background: $color;
  }
  .ball.#{$name},
  .ball.top .question-wrapper .question-content .user.#{$name} {
    background: $color;
  }
  .ball {
    & .top.#{$name} {
      background-color: $color;
    }
  }
  .modal-wrapper .modal input.#{$name} {
    border: 0.2rem solid $color;
  }
  #question-form form footer > div.#{$name} {
    background: $color;
  }
  .question-wrapper.read.#{$name} {
    background: $color;
  }
  .modal-wrapper .modal.#{$name} {
    background: $color;
  }
  .modal-wrapper .modal p.#{$name} {
    color: $color;
  }
  .button.outlined.#{$name},
  button.outlined.#{$name}{
    background:$color;
    color: $white-td;
    box-shadow: 3px 3px 10px 0px #1a05339c;
    border: none;
  }
  .separator div:nth-child(1), .separator div:nth-child(3).#{$name}{
    background-color: $color;
  }
  .separator div:nth-child(2).#{$name}{
    color: $color;
  }
}
