// thema light
$black-tl: #0d114f;
$white-tl: #fafafa;
$red-tl: #e83f5b;
$light-blue-tl: #e0ecff;
$blue-tl: #3485ff;
$background-tl: #f6faff;
$overlay-tl: #040911;
$icons-details-tl: #a5b0c1;

$grey-dark-tl: #4d5e77;
$grey-blue-tl: #a1b2cd;
$grey-light-tl: #e5eaf1;
$grey-medium-tl: #eaecf2;

// thema dark
$background-td: #121214;
$black-td: #09090a;
$white-td: #fff;
$red-td: #ce4a4a;
$green-low-td: #11251c;

$blue-td: #8257e5;
$light-blue-td: #e2d6ff;
$icons-details-td: #a8a8b3;
$grey-light-td: #737380;
$grey-blue-td: #e2d6ff;
$overlay-td: #202024;
$grey-dark-td: #1f1f22;
$grey-medium-td: #323238;
$blackred:#3c1018;
$gradient-btn:linear-gradient(0deg, #503196c7, #8257e5);